.row {
    padding-left: 40px;
}

.row>div {
    border: 1px solid black;
    height: 115px;
    width: 175px;
    display: inline-block;
}

.row img {
    height: 115px;
    width: 175px;
    z-index: -1;
    display: block;
}

.board-square {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}

#piece-one {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: rgb(7, 0, 0);
    height: 35px;
    width: 35px;
}

#piece-two {
    position: absolute;
    top: 65px;
    left: 10px;
    padding: 5px;
    background-color: rgb(250, 5, 5);
    height: 35px;
    width: 35px;
}

/* Dice Roll */
#dice-roll {
    display: flex;
    justify-content: center;
}