#game-output {
    display: flex;
    justify-content: center;
}

#game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 0 0px 0;
    position: relative;
    padding-left: 100px;

}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 150px;
}


#game-area>div {
    border: 1px solid black;
    height: 115px;
    width: 175px;
}

#game-area img {
    height: 115px;
    width: 175px;
    z-index: -1;
    display: block;
}

.board-square {
    position: relative;
}

#piece-one {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: rgb(7, 0, 0);
    height: 35px;
    width: 35px;
}

#piece-two {
    position: absolute;
    top: 65px;
    left: 10px;
    padding: 5px;
    background-color: rgb(250, 5, 5);
    height: 35px;
    width: 35px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}